@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Work+Sans:wght@400;500;600;700&display=swap");

// Colors
$peach-brown: #dcb47a;
$black: #1e1e1e;
$mid-black: #262626;
$darkest-black: #081323;
$dark-black: #292929;
$darker-black: #000000;
$dark-grey: #4f4f4f;
$mid-grey: #878787;
$white: #f9f9f9;
$brown: #2b1602;
$pale-grey: #f6fff6;

//typography
$font-family: "Work Sans", sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.5rem;

//font weight variables
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
